/*----------------------------------------------------------------------------------*/
div.submenu_hover:hover {
    background: #1B6EAE;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-bottom-color: #000000; /* black */
    border-width: 0 5px 5px;
}

#header {
    background: #4285F4;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    height: 65px;
    position: fixed;
    z-index: 10;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transition: all;
    -moz-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header:not(.sidebar-toggled).header-up {
    -webkit-transform: translate3d(0, -70px, 0);
    transform: translate3d(0, -70px, 0);
}

.header-inner {
    list-style: none;
}

.header-inner > li {
    display: inline-block;
    vertical-align: top;
}

.header-inner > li:not(:last-child) {
    margin-right: -2px;
}

.header-inner .logo a {
    color: #fff;
    text-transform: uppercase;
    padding: 6px 10px;
    display: block;
    font-size: 16px;
    font-weight: 100;
}

.wp-bind {
    opacity: 0.5;
}

.mm-listview > li, .mm-listview > li:after, .mm-listview > li .mm-next, .mm-listview > li .mm-next:before {
    border-color: #2B2B2B !important;
}

/*----------------------------------------------------------------------------------*/
.recover-member {
    margin-left: 5px;
    cursor: pointer;
    color: #ac2925;
    font-size: 16px;
    transition: all .5s ease-in-out 0s;
}

.recover-member:hover {
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.chips {
    position: relative;
    display: inline-block;
    float: left;
    margin: 5px;
    background-color: #F1F1F1;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.chips .chips-content, .chips-close {
    display: inline-block;
}

.chips .chips-close {
    margin-left: 3px;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    padding: 3px;
    width: 32px;
    height: 32px;
    color: #838383;
}

.chips .chips-close span {
    border: 2px solid #C0C0C0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #FFFFFF;
}

.chips .chips-close span {
    transition: .5s ease-in-out;
}

.chips .chips-close span:hover {
    color: #B23535;
    cursor: pointer;
}

.chips .chips-image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chips .chips-image .chips-admin {
    position: absolute;
    top: 27px;
    left: 29px;
    color: #FF5722;
}

.chips .chips-content .chips-detail, .chips-image {
    display: inline-block;
    vertical-align: middle;
}

.chips-detail span {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 115px;
    display: block;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.7);
}

.chips-detail span:first-child {
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold !important;
}

.divider-head {
    font-weight: 500 !important;
}

.divider {
    border-top: 1px solid #E3E3E3;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.divider .fa {
    display: inline-block;
    position: relative;
    top: -11px;
    padding: 0 10px;
    background-color: white;
    color: #8c8b8b;
    font-size: 13px;
}

.config-profile-container {
    position: relative;
    width: 100%;
    /*height: 13%;*/
    padding-left: 7px;
    border-radius: 2px;
    margin-bottom: 10px;
    background-color: #F5F5F5;
    border: 1px solid #EAEAEA;
}

.config-profile-container:before {
    content: '';
    display: inline-block;
    vertical-align: middle; /* vertical alignment of the inline element */
    height: 100%;
}

.edit-profile {
    position: absolute;
    right: 5px;
    top: 5px;
}

.config-profile-picture {
    display: inline-flex;
}

.config-profile-detail {
    display: inline-block;
    width: 70%;
}

.rename-group:hover {
    border: 1px solid #229DCE;
    color: #686868;
    box-shadow: 0 0 3px #229DCE;
}

.rename-group:focus {
    border: 1px solid rgba(3, 169, 244, .5);
    box-shadow: 0 0 3px #229DCE;
}

.rename-group {
    border: 0;
    height: 32px;
    padding: 5px;
    width: 100%;
    margin: 0 4px;
    border-radius: 2px;
    color: rgba(51, 51, 51, .69);
    background-color: rgba(226, 226, 226, 0.8);
    border: 1px solid transparent;
    width: 100%;
    font-size: 12px;
    transition: .5s ease-in-out;
}

.config-footer-container {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: right;
}

.btn-primary {
    color: rgb(16, 108, 200);
}

.btn-material-raised.btn-primary {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(16, 108, 200);
}

.btn-warn {
    color: rgb(255, 87, 34);
}

.btn-material-raised.btn-warn {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 87, 34);
}

.btn-material:hover {
    background-color: rgba(158, 158, 158, 0.2);
}

.btn-material-raised.btn-primary:hover {
    background-color: rgb(1, 89, 162);
}

.btn-material-raised.btn-warn:hover {
    background-color: rgb(244, 81, 30);
}

.btn-material:disabled, .btn-material-raised:disabled {
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
    box-shadow: none;
}

.btn-material-raised:disabled, .btn-material-raised:hover:disabled {
    background-color: rgba(0, 0, 0, 0.12);
}

.btn-material:hover:disabled {
    background: none;
}

.btn-material-raised {
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 6px;
    /*margin: 6px 8px;*/
    line-height: 36px;
    min-height: 36px;
    background: 0 0;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.btn-material {
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 6px;
    /*margin: 6px 8px;*/
    line-height: 36px;
    min-height: 36px;
    background: 0 0;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
}

.image-upload {
    position: relative;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    overflow: hidden;
    padding: 3px;
    border: 2px solid rgba(255, 87, 34, .6);
}

.image-upload .title-change {
    position: absolute;
    left: 0;
    bottom: -25px;
    width: 100%;
    text-align: center;
    padding: 7px 0;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 11px;
    color: white;
    line-height: 8px;
    transition: .4s ease-in-out;
}

.image-upload:hover .title-change {
    bottom: 0;
}

.image-upload > input {
    display: none;
}

.image-upload img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#bs-nav .chat-client .lv-small span {
    font-size: 12px;
    color: #A9A9A9;
    background: none;
}

.broadcast-bg {
    background: linear-gradient(to bottom, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, 1) 100%), url("http://172.17.9.94/pciscalendar/images/7-fish_01_02.png") repeat 0 0;
}

.notification-table {
    margin: 10px;
    font-size: 14px;
    color: rgba(51, 51, 51, .9);
    font-family: "RobotoDraft";
    /*box-shadow: 0px 0px 2px rgba(0,0,0,0.4);*/
}

.notification-table th, .notification-table td {
    padding: 10px;
}

.notification-table th {
    height: 30px;
    text-align: left;
    vertical-align: top;
    font-weight: 500;
    color: #888;
    border-top: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.notification-table td {
    height: 50px;
    text-align: left;
    vertical-align: top;
}

.notification-table tr {
    border-bottom: 1px solid #ccc;
}

.notification-table tr td:first-child {
    color: #266d90;
}

.notification-table td:first-child {
    width: 25%;
}

.broadcast-unread {
    background-color: rgba(26, 26, 26, 0.81);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.noti-filter {
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.noti-filter.noti-select {
    background-color: white;
    color: #2196F3;
    border: none;
}

.lv-item.broadcast-item {
    width: 100%;
    border: 1px solid #D1D1D1;
    margin: 1px !important;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: .3s ease-in-out;
}

.lv-item.broadcast-item:hover, .lv-item.broadcast-item.broadcast-item-active {
    background-color: #B4B4B4 !important;
}

.lv-item.broadcast-item:hover .lv-title, .lv-item.broadcast-item.broadcast-item-active .lv-title {
    color: #FFF !important;
}

.chat-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.chat-scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.chat-scrollbar::-webkit-scrollbar-thumb {
    background-color: #0ae;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}

.chat-client div, .chat-client span, .chat-client p, .chat-client ul, .chat-client ol, .chat-modal, :not(.fa,zdmi) {
    font-family: 'RobotoDraft' !important;
    font-weight: 400;
    line-height: normal;
}

.chat-modal div, .chat-modal span:not(.fa), .chat-modal p, .chat-modal ul, .chat-modal ol {
    font-family: 'RobotoDraft' !important;
    font-weight: 400;
    line-height: normal;
}

.chat-client ul, li, a:not(.lv-footer):hover {
    border: none !important;
}

.direct-chatuser {
    cursor: pointer;
}

.chat-modal label {
    cursor: pointer;
}

.chat-client [ng-href] {
    cursor: pointer;
}

.chat-client a, a:link {
    text-decoration: none;
}

.center-hole:after {
    content: "";
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 20px;
    top: 15px;
    border: 3px solid rgba(164, 164, 164, 0.6);
}

.chat-client .fa-calendar-o[date-now]:after {
    content: attr(date-now);
    font-family: 'RobotoDraft';
    font-weight: 500;
    font-size: .56em;
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
}

.chat-modal *, :active, :hover {
    outline: 0 !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
}

.chat-client a:hover, a:focus {
    color: #0a6ebd;
    text-decoration: none;
}

.chat-client-menu {
    list-style: none;
    padding: 0;
}

.chat-client-menu-icon {
    font-size: 24px;
    padding-top: 5px;
    color: white;
}

.ms-body-maximize {
    padding-left: 0 !important;
}

.actions-left {
    float: left !important;
}

.search-my {
    border: 0;
    height: 32px;
    /*padding: 0 15px;*/
    padding-left: 15px;
    padding-right: 36px;
    margin: 0 4px;
    width: 609px;
    border-radius: 2px;
    color: rgba(51, 51, 51, .69);
    background-color: rgba(226, 226, 226, 0.8);
}

.search-my-clear {
    position: absolute !important;
    right: 5px;
    top: 1px;
}

.media-body.unread-message > .lv-title, .lv-small {
    width: 89% !important;
}

.media-body.unread-message > .lv-title.full-width, .lv-small.full-width {
    width: 100% !important;
}

.media-body.unread-message > .user-unread {
    background: #16ADAD;
    right: 10px;
    top: 18px;
}

.user-unread {
    position: absolute;
    color: #FFF;
    font-style: normal;
    background: #4E9B1F;
    padding: 1px 5px;
    border-radius: 6px;
    right: 4px;
    top: 21px;
    font-size: 10px;
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.mask-user-offline {
    position: absolute;
    background-color: rgba(250, 250, 250, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

[class*=chat-status] {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -3px;
    right: 12px;
    border: 2px solid #FFF;
}

.chat-status-online {
    box-shadow: 0 0 0 1px #1ec01e;
    background: #1ec01e;
}

.chat-status-offline {
    box-shadow: 0 0 0 1px #e73f3f;
    background: #e73f3f;
}

.chat-status-busy {
    box-shadow: 0 0 0 1px orange;
    background: orange;
}

.chat-read-status {
    vertical-align: bottom;
    color: #989797;
    padding-right: 7px;
}

.lv-actions .fa-expand {
    transform: rotate(90deg);
}

.checkbox-all {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    top: 70px;
    right: 20px;
    border: 1px solid #EEEEEE;
    padding: 8px;
    border-radius: 8px;
}

.select-item-count {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    top: 110px;
    right: 20px;
    border: 1px solid #EEEEEE;
    padding: 8px;
    border-radius: 8px;
    height: 36px;
}

.ms-compose:hover {
    color: white !important;
}

.ms-compose {
    position: fixed;
    top: 160px;
    z-index: 1;
    right: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    color: #fff !important;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    line-height: 38px;

    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 25px;
}

#snarl-wrapper {
    /*top: auto;
    bottom: 20px;*/
    top: 10%;
}

.snarl-notification {
    font-family: "RobotoDraft";
    padding: 15px;
    padding-left: 80px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.snarl-title, .snarl-text {
    font-family: "RobotoDraft" !important;
}

.snarl-title {
    font-size: 1em !important;
}

.snarl-text {
    font-weight: 400;
}

.notification-group-header {
    padding: 3px 10px;
    margin-bottom: 2px;
    font-weight: 400;
    background-color: #4390DF;
    color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.notification-group-header span.fa {
    cursor: pointer;
}

/*----------------------------------------------------------------------------------*/

/*---------------------------- Multi Select --------------------------*/
.chat-modal .multiselect-container .checkbox .input-helper:before, .radio .input-helper:before {
    left: 0;
    border: 1px solid #3498DB;
    border-radius: 1px;
}

.chat-modal .multiselect-container .checkbox .input-helper:after {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0) rotate(80deg);
    -ms-transform: scale(0) rotate(80deg);
    -o-transform: scale(0) rotate(80deg);
    transform: scale(0) rotate(80deg);
    width: 22px;
    height: 9px;
    border-bottom: 2px solid #3498DB;
    border-left: 2px solid #3498DB;
    border-bottom-left-radius: 2px;
    left: -1px;
    top: 1px;
}

.btn-broadcast-multiselect {
    border: 1px solid #3498DB;
    border-radius: 2px;
    color: #2980B9;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;

    /*-webkit-transition: border-color 1s ease-out;*/
    /*-moz-transition: border-color 1s ease-out;*/
    /*-o-transition: border-color 1s ease-out;*/
    /*-ms-transition: border-color 1s ease-out;*/
    /*transition: border-color 1s ease-out;*/

    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    -ms-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}

.multiselect-container .input-groups {
    display: block;
    margin: 0 4px;
    margin-bottom: 3px;
    width: inherit;
}

.multiselect-container .input-groups .form-controls {
    height: 25px;
}

.multiselect-container .input-groups .input-group-addons {
    position: absolute;
    top: 9.5px;
    left: 8px;
    color: #FFFFFF;
    padding: 0;
}

.multiselect-container .input-groups .form-controls::-webkit-input-placeholder {
    color: #FFF;
}

.multiselect-container .input-groups .form-controls:-moz-placeholder {
    color: #FFF;
}

.multiselect-container .input-groups .form-controls::-moz-placeholder {
    color: #FFF;
}

.multiselect-container .input-groups .form-controls:focus, .form-controls:hover {
    border: 1px solid #229DCE;
    background-color: #FFFFFF;
    color: #686868;
    box-shadow: 0 0 3px #229DCE;
}

.multiselect-container .input-groups .form-controls {
    padding: 4px 21px;
    padding-right: 25px;
    width: 100%;
    border: 1px solid #33BBF1;
    border-radius: 2px !important;
    background-color: #33BBF1;
    color: #FFF;
    transition: box-shadow .5s ease-out !important;
}

.multiselect-container .input-groups .form-controls:focus + .input-group-btns {
    opacity: 1;
}

.multiselect-container .input-groups .input-group-btns {
    position: absolute;
    top: 8.5px;
    right: 4px;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in !important;
    -moz-transition: opacity .3s ease-in !important;
    -ms-transition: opacity .3s ease-in !important;
    -o-transition: opacity .3s ease-in !important;
    transition: opacity .3s ease-in !important;
}

.multiselect-container .input-groups .input-group-btns .btn {
    padding: 0;
    padding-right: 5px;
}

.multiselect-container .input-groups .input-group-btns button {
    border: none;
    background: none;
    font-size: 15px;
}

.multiselect-container .input-groups .input-group-btns button i {
    color: #33BBF1;
}

.dropdown.open .btn-broadcast-multiselect, .btn-broadcast-multiselect:hover {
    background-color: #3498DB;
    color: #FFF;
}

.multiselect-container {
    width: 100%;
    /*border: 1px solid #3498DB !important;*/
    padding: 5px 0;
}

.multiselect-container input[type=checkbox] {
    margin-bottom: 0;
}

.multiselect-emp .multiselect-container {
    max-height: 262px;
    overflow-x: hidden;
    overflow-y: auto;
}

.multiselect-container li a label input {
    margin-right: 10px;
}

.broadcast-multiselect-container > div {
    display: inline-block;
    width: 25%;
}

.multiselect-container li.bg-success {
    background-color: #FFF;
}

.multiselect-container li a {
    display: inline-block;
    width: 100%;
}

.multiselect-container li label {
    display: inline;
}

.multiselect-container li label * {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.multiselect-container .multiselect-all label {
    font-weight: bold;
}

.has-broadcast {
    height: 570px !important;
}

/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
.top-menu {
    list-style: none;
    padding: 0;
}

.top-menu > li {
    display: inline-block;
}

.top-menu > li .dropdown-menu-lg {
    padding: 0;
}

.top-menu > li .dropdown-menu-lg .lv-body {
    height: 275px;
    overflow-y: auto;
}

.top-menu > li .dropdown-menu-lg .lv-body.notification-height {
    height: 450px;
}

.top-menu > li > a.tm-message {
    background-size: 24px 24px;
}

.top-menu > li:not(#toggle-width) {
    position: relative;
}

.top-menu > li:not(#toggle-width):before {
    left: 0;
    top: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    -o-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition: all;
    -moz-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, .12);
    z-index: 0;
    border-radius: 2px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.top-menu > li:not(#toggle-width):hover:before {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
    filter: alpha(opacity=100);
}

.top-menu > li:not(#toggle-width).open:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
}

.top-menu > li > a {
    height: 35px;
    min-width: 50px;
    display: inline-block;
    text-align: center;
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    position: relative;
    z-index: 1;
}

.top-menu > li > a > .tmn-counts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: -9px;
    right: 0px;
    font-weight: 600;
    font-size: 11px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: rgb(255, 87, 34);
    color: #fff;
    font-style: normal;
    font-family: "RobotoDraft";
}

.top-menu > li:before {
    top: -1px !important;
}

@media (min-width: 1200px) {
    .top-menu #toggle-width .toggle-switch {
        margin: -12px 30px 0 0;
    }

    .top-menu #toggle-width .toggle-switch .ts-helper {
        height: 11px;
        width: 33px;
    }

    .top-menu #toggle-width .toggle-switch .ts-helper:before {
        width: 20px;
        height: 20px;
        top: -5px;
    }

    .top-menu #toggle-width .toggle-switch input:checked + .ts-helper {
        background: rgba(0, 0, 0, .26);
    }

    .top-menu #toggle-width .toggle-switch input:checked + .ts-helper:before {
        left: 18px;
        background: #fff;
    }
}

@media (max-width: 1200px) {
    .top-menu #toggle-width {
        display: none;
    }
}

.chat-client .dropdown-menu {
    font-size: 13px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    -webkit-transition: all;
    -moz-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-top: 1px;
}

.chat-client .dropdown-menu > li > a {
    /*font-family: 'RobotoDraft';*/
    padding: 8px 17px;
    -webkit-transition: background-color;
    -moz-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.chat-client .dropdown-menu.dropdown-menu-lg {
    width: 300px;
}

.chat-client .dropdown-menu.dropdown-menu-sm {
    width: 150px;
}

.chat-client .dropdown-menu.dropdown-menu-right {
    right: 0;
    left: auto;
}

.chat-client .dropdown-menu.dropdown-menu-right > li > a {
    text-align: right;
}

.chat-client .dropdown-menu.dm-icon > li > a > .md {
    line-height: 100%;
    vertical-align: top;
    font-size: 18px;
    width: 28px;
}

.chat-client .dropdown-menu:not([class*=bgm-]) > li > a {
    color: #4C4C4C;
}

.chat-client .dropdown-menu:not([class*=bgm-]) > li > a:hover {
    color: #000;
}

.chat-client .dropdown-menu[class*=bgm-] > li > a {
    font-weight: 300;
    color: #fff;
}

.chat-client .dropdown .dropdown-menu {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
    display: block;
}

.chat-client .dropdown .dropdown-menu.pull-right {
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
}

.chat-client .dropdown .dropdown-menu:not(.pull-right):not(.dropdown-menu-right) {
    -webkit-transform-origin: top bottom;
    -moz-transform-origin: top bottom;
    -ms-transform-origin: top bottom;
    transform-origin: top bottom;
}

.chat-client .dropdown .dropdown-menu:not(.pull-right):not(.dropdown-menu-right):not(.multiselect-container) {
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

.chat-client .dropup .dropdown-menu.pull-right {
    -webkit-transform-origin: bottom right;
    -moz-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
}

.chat-client .dropup .dropdown-menu:not(.pull-right):not(.dropdown-menu-right) {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
}

.chat-client .dropdown.open .dropdown-menu {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
}

.listview {
    position: relative;
}

.listview.lv-user {
    overflow: auto;
    height: 98%;
}

.listview:not(.lv-lg):not(.lv-message) .lv-item {
    padding: 10px 15px !important
}

@media (min-width: 480px) {
    .listview.lv-lg .lv-item {
        padding: 17px 35px 17px 25px;
    }
}

@media (max-width: 767px) {
    .listview.lv-lg .lv-item {
        padding: 17px 35px 17px 20px;
    }
}

.listview.lv-lg .lv-item:hover {
    background-color: #FFFFDB;
}

.listview .lv-item {
    position: relative;
    display: block;
    -webkit-transition: background-color;
    -moz-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.listview .lv-item .lv-small {
    font-size: 12px;
    color: #A9A9A9;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
}

.listview .lv-item .checkbox, .listview .lv-item.media {
    margin: 0;
}

.listview .lv-item .lv-actions {
    position: absolute;
}

@media (min-width: 480px) {
    .listview .lv-item .lv-actions {
        right: 15px;
        height: 30px;
        margin-top: -15px;
        top: 50%;
    }
}

@media (max-width: 767px) {
    .listview .lv-item .lv-actions {
        right: 7px;
        top: 10px;
    }
}

.listview .lv-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.listview a.lv-item:hover {
    background: #ECF9FF;
}

.listview [class*=lv-img] {
    border-radius: 50%;
}

.listview .lv-img {
    width: 50px;
    height: 50px;
}

.listview .lv-img-sm {
    width: 45px;
    height: 45px;
}

.listview .lv-header {
    text-align: center;
    padding: 15px 10px 13px;
    line-height: 100%;
    text-transform: uppercase;
    border-bottom: 1px solid #F0F0F0;
    font-weight: 500;
    color: #4C4C4C;
}

.listview .lv-header .actions {
    position: absolute;
    top: 6px;
    right: 8px;
    z-index: 10;
    padding-left: 0;
    margin-left: 0;
}

.listview .lv-header-alt {
    background: #f8f8f8;
    padding: 12px;
    border-bottom: 1px solid #EEE;
}

.listview .lv-header-alt:before, .listview .lv-header-alt:after {
    content: " ";
    display: table;
}

.listview .lv-header-alt:after {
    clear: both;
}

.listview .lv-header-alt:before, .listview .lv-header-alt:after {
    content: " ";
    display: table;
}

.listview .lv-header-alt:after {
    clear: both;
}

.listview .lv-header-alt .lv-actions {
    z-index: 3;
    float: right;
    margin-top: 3px;
    position: relative;
    letter-spacing: normal;
    margin-left: 0;
    padding-left: 0;
}

.listview .lv-header-alt .lv-actions > li > a {
    margin: 0 3px;
}

.listview .lvh-label {
    color: #818181;
    display: inline-block;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px;
    line-height: 33px;
    vertical-align: middle;
}

.metro .chat-client .dropdown-menu a {
    line-height: 100% !important;
    font-size: 11px !important;
}

.listview .lv-footer {
    display: block;
    text-align: center;
    padding: 7px 10px 8px;
    border-top: 1px solid #F0F0F0;
    line-height: 100% !important;
    font-size: 11px !important;
    /*margin-top: 20px;*/
    color: #828282;
}

.listview a.lv-footer:hover {
    color: #050505;
}

.listview.lv-bordered .lv-item:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
}

.listview .lv-attrs {
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
}

.listview .lv-attrs > li {
    display: inline-block;
    padding: 2px 10px 3px;
    font-size: 12px;
    margin-top: 5px;
    margin-right: 2px;
}

.listview .lv-attrs > li:not(.info):not(.primary):not(.warning):not(.danger) {
    border: 1px solid #dedede;
    background: #fff;
    color: #5e5e5e;
}

.listview .lv-attrs > li.info {
    border: 1px solid #00bcd4;
    background: #00bcd4;
    color: #fff;
}

.listview .lv-attrs > li.primary {
    border: 1px solid #2196f3;
    background: #2196f3;
    color: #fff;
}

.listview .lv-attrs > li.warning {
    border: 1px solid #ff9800;
    background: #ff9800;
    color: #fff;
}

.listview .lv-attrs > li.danger {
    border: 1px solid #f44336;
    background: #f44336;
    color: #fff;
}

.listview .lv-attrs > li > a {
    display: block;
}

.listview:not(.lv-message) .lv-title {
    color: #000;
}

.lv-message .lv-item {
    padding: 20px;
}

.lv-message .lv-item.right {
    text-align: right;
}

.lv-message .lv-item.center {
    text-align: center;
}

.lv-message .lv-item.right .lv-avatar {
    margin-right: 0;
    margin-left: 15px;
}

.lv-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    line-height: 34px;
    font-size: 15px;
    margin-right: 15px;
    padding: 0 !important;
    text-transform: uppercase;
}

.lv-avatar > img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: top;
}

.lv-message .lv-item:not(.right) .ms-item {
    /*background: #ffc107;*/
    background: #f44336;
    color: #fff;
}

.lv-message .lv-item.right .ms-item {
    background: #009688;
    color: white;
}

.ms-item {
    padding: 13px 19px 15px;
    border-radius: 2px;
    display: inline-block;
}

@media (min-width: 768px) {
    .ms-item {
        max-width: 70%;
    }
}

.ms-date {
    display: block;
    color: #B3B3B3;
    margin-top: 7px;
}

.ms-date > i {
    font-size: 14px;
    vertical-align: bottom;
    line-height: 100%;
}

.ms-reply {
    box-shadow: 0 -20px 20px -5px #fff;
    position: relative;
    margin: 0 !important;
}

.ms-reply textarea {
    width: 100%;
    font-size: 13px;
    border: 0;
    padding: 5px 8px;
    padding-right: 55px;
    resize: none;
    height: 60px;
}

.ms-reply button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    height: 100%;
    width: 60px;
    font-size: 25px;
    background: #F5F5F5;
    color: #2196f3;
}

.ms-reply button:hover {
    background: #f2f2f2;
}

.actions {
    list-style: none;
    padding: 0;
    z-index: 2;
    margin: 0;
}

.actions > li {
    display: inline-block !important;
    vertical-align: baseline !important;
}

.actions > li > a, .actions > a {
    width: 30px;
    height: 30px;
    line-height: 29px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.actions > li > a > i, .actions > a > i {
    -webkit-transition: color;
    -moz-transition: color;
    -o-transition: color;
    transition: color;
    -webkit-transition-duration: 1300ms;
    transition-duration: 1300ms;
    color: #adadad;
    font-size: 20px;
}

.actions > li > a:hover > i, .actions > a:hover > i {
    color: #000;
}

.actions > li > a:before, .actions > a:before {
    left: 0;
    top: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    -o-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition: all;
    -moz-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, .1);
    z-index: 0;
    border-radius: 50%;
    opacity: 0;
    filter: alpha(opacity=0);
}

.actions > li > a:hover:before, .actions > a:hover:before {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
    filter: alpha(opacity=100);
}

.actions > li.open > a > i, .actions.open > a > i {
    color: #000;
}

.actions > li.open > a:before, .actions.open > a:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
}

.actions.actions-alt > li > a > i {
    color: #fff;
}

.actions.actions-alt > li > a > i:hover {
    color: #fff;
}

.actions.actions-alt > li.open > a > i {
    color: #fff;
}

.actions.open {
    z-index: 3;
}

.media {
    overflow: visible;
}

.media:before, .media:after {
    content: " ";
    display: table;
}

.media:after {
    clear: both
}

.media:before, .media:after {
    content: " ";
    display: table
}

.media:after {
    clear: both;
}

.media > .pull-left {
    padding-right: 15px;
}

.media > .pull-right {
    padding-left: 15px;
}

.media-heading {
    font-size: 14px;
    margin-bottom: 10px;
}

.media-body {
    zoom: 1;
    display: block;
    width: auto;
    overflow: hidden;
}

.media-object {
    border-radius: 2px
}

.card-body .lv-item {
    padding: 12px 20px;
}

.card {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    margin-bottom: 30px;
}

.card .card-header {
    position: relative;
}

@media screen and (min-width: 768px) {
    .card .card-header:not(.ch-alt) {
        padding: 23px 26px;
    }
}

@media screen and (max-width: 991px) {
    .card .card-header:not(.ch-alt) {
        padding: 18px;
    }
}

.card .card-header h2 {
    margin: 0;
    line-height: 100%;
    font-size: 17px;
    font-weight: 400;
}

.card .card-header h2 small {
    display: block;
    margin-top: 8px;
    color: #AEAEAE;
    line-height: 160%;
}

@media screen and (min-width: 768px) {
    .card .card-header.ch-alt {
        padding: 23px 26px;
    }
}

@media screen and (max-width: 991px) {
    .card .card-header.ch-alt {
        padding: 18px 18px 28px;
    }
}

.card .card-header.ch-alt:not([class*=bgm-]) {
    background-color: #f7f7f7;
}

.card .card-header[class*=bgm-] h2, .card .card-header[class*=bgm-] h2 small {
    color: #fff;
}

.card .card-header .actions {
    position: absolute;
    right: 10px;
    z-index: 2;
    top: 15px;
}

.card .card-header .btn-float {
    right: 25px;
    bottom: -23px;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .card .card-body.card-padding {
        padding: 23px 26px;
    }
}

@media screen and (max-width: 991px) {
    .card .card-body.card-padding {
        padding: 18px;
    }
}

.card .card-body.card-padding-sm {
    padding: 15px;
}

#messages-main {
    position: relative;
}

#messages-main:before, #messages-main:after {
    content: " ";
    display: table;
}

#messages-main:after {
    clear: both;
}

#messages-main:before, #messages-main:after {
    content: " ";
    display: table;
}

#messages-main:after {
    clear: both;
}

#messages-main .ms-block {
    padding: 23px 20px 0;
}

#messages-main .ms-menu {
    position: absolute;
    left: 0;
    top: 0;
    background: #F8F8F8;
    border-right: 1px solid #EEE;
    padding-bottom: 50px;
    height: 100%;
    width: 240px;
    -webkit-transition: all;
    -moz-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}

@media (max-width: 767px) {
    #messages-main .ms-menu {
        height: calc(100% - 58px);
        -webkit-transform: translate3d(-240px, 58px, 0);
        transform: translate3d(-240px, 58px, 0);
        opacity: 0;
        filter: alpha(opacity=0);
        z-index: 1;
    }

    #messages-main .ms-menu.toggled {
        -webkit-transform: translate3d(0, 58px, 0);
        transform: translate3d(0, 58px, 0);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

#messages-main .ms-menu .lv-item {
    padding-left: 20px;
    padding-right: 20px;
}

#messages-main .ms-menu .lv-item.active {
    background: #fff;
}

#messages-main .ms-menu .lv-item:not(.active):hover {
    background: #F2F2F2;
    cursor: pointer;
}

.ms-body, .ms-menu {
    transition: .3s ease-in-out;
}

@media (min-width: 768px) {
    #messages-main .ms-body {
        padding-left: 240px;
    }
}

@media (max-width: 767px) {
    #messages-main .ms-body {
        overflow: hidden;
    }
}

#messages-main .ms-user:before, #messages-main .ms-user:after {
    content: " ";
    display: table;
}

#messages-main .ms-user:after {
    clear: both;
}

#messages-main .ms-user:before, #messages-main .ms-user:after {
    content: " ";
    display: table;
}

#messages-main .ms-user:after {
    clear: both;
}

#messages-main .ms-user > img {
    border-radius: 50%;
    width: 40px;
    float: left;
}

#messages-main .ms-user > div {
    overflow: hidden;
    padding: 7px 5px 7px 15px;
    font-size: 11px;
}

#messages-main #ms-compose {
    position: fixed;
    bottom: 120px;
    z-index: 1;
    right: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.chat-modal .checkbox label, .radio label {
    /*padding-left: 30px;*/
    position: relative;
}

.chat-modal .checkbox input, .radio input {
    top: 0;
    left: 0;
    margin-left: 0 !important;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    margin-top: 0;
}

.chat-modal .checkbox .input-helper:before, .radio .input-helper:before, .checkbox .input-helper:after, .radio .input-helper:after {
    -webkit-transition: all;
    -moz-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    content: "";
}

.chat-modal .checkbox .input-helper:before, .radio .input-helper:before {
    left: 0;
    border: 1px solid #ccc;
}

.chat-modal .checkbox.disabled, .radio.disabled {
    opacity: .6;
    filter: alpha(opacity=60);
}

.chat-modal .checkbox input {
    width: 17px;
    height: 17px;
}

.chat-modal .checkbox input:checked + .input-helper:before {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.chat-modal .checkbox input:checked + .input-helper:after {
    -webkit-transform: scale(1) rotate(-50deg);
    -ms-transform: scale(1) rotate(-50deg);
    -o-transform: scale(1) rotate(-50deg);
    transform: scale(1) rotate(-50deg);
    opacity: 1;
    filter: alpha(opacity=100);
}

.chat-modal .checkbox .input-helper:before {
    top: 0;
    width: 17px;
    height: 17px;
}

.chat-modal .checkbox .input-helper:after {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0) rotate(80deg);
    -ms-transform: scale(0) rotate(80deg);
    -o-transform: scale(0) rotate(80deg);
    transform: scale(0) rotate(80deg);
    width: 22px;
    height: 9px;
    border-bottom: 2px solid #009688;
    border-left: 2px solid #009688;
    border-bottom-left-radius: 2px;
    left: -1px;
    top: 1px;
}

.has-error .checkbox .input-helper:before {
    border-color: #f99d97;
}

.has-error .checkbox .input-helper:after {
    border-bottom-color: #f77066;
    border-left-color: #f77066;
}

.has-success .checkbox .input-helper:before {
    border-color: #92cf94;
}

.has-success .checkbox .input-helper:after {
    border-bottom-color: #6ec071;
    border-left-color: #6ec071;
}

.has-warning .checkbox .input-helper:before {
    border-color: #ffdb6d;
}

.has-warning .checkbox .input-helper:after {
    border-bottom-color: #ffce3a;
    border-left-color: #ffce3a;
}

.form-control:focus {
    box-shadow: none;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
.m-0 {
    margin: 0 !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-l-0 {
    margin-left: 0 !important;
}

.m-r-0 {
    margin-right: 0 !important;
}

.m-5 {
    margin: 5px !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-10 {
    margin: 10px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-15 {
    margin: 15px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.m-r-15 {
    margin-right: 15px !important;
}

.m-20 {
    margin: 20px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.m-r-20 {
    margin-right: 20px !important;
}

.m-25 {
    margin: 25px !important;
}

.m-t-25 {
    margin-top: 25px !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.m-l-25 {
    margin-left: 25px !important;
}

.m-r-25 {
    margin-right: 25px !important;
}

.p-0 {
    padding: 0 !important;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.p-5 {
    padding: 5px !important;
}

.p-t-5 {
    padding-top: 5px !important;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.p-l-5 {
    padding-left: 5px !important;
}

.p-r-5 {
    padding-right: 5px !important;
}

.p-10 {
    padding: 10px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.p-l-10 {
    padding-left: 10px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.p-15 {
    padding: 15px !important;
}

.p-t-15 {
    padding-top: 15px !important;
}

.p-b-15 {
    padding-bottom: 15px !important;
}

.p-l-15 {
    padding-left: 15px !important;
}

.p-r-15 {
    padding-right: 15px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.p-l-20 {
    padding-left: 20px !important;
}

.p-r-20 {
    padding-right: 20px !important;
}

.p-25 {
    padding: 25px !important;
}

.p-t-25 {
    padding-top: 25px !important;
}

.p-b-25 {
    padding-bottom: 25px !important;
}

.p-l-25 {
    padding-left: 25px !important;
}

.p-r-25 {
    padding-right: 25px !important;
}

.f-300 {
    font-weight: 300 !important;
}

.f-400 {
    font-weight: 400 !important;
}

.f-500 {
    font-weight: 500 !important;
}

.f-700 {
    font-weight: 700 !important;
}

.p-relative {
    position: relative !important;
}

.p-absolute {
    position: absolute !important;
}

.p-fixed {
    position: fixed !important;
}

.p-static {
    position: static !important;
}

.o-hidden {
    overflow: hidden !important;
}

.o-visible {
    overflow: visible !important;
}

.o-auto {
    overflow: auto !important;
}

.d-block {
    display: block !important;
}

.di-block {
    display: inline-block !important;
}

.bgm-white {
    background-color: #fff !important;
}

.c-white {
    color: #fff !important;
}

.bgm-black {
    background-color: #000 !important;
}

.c-black {
    color: #000 !important;
}

.bgm-brown {
    background-color: #795548 !important;
}

.c-brown {
    color: #795548 !important;
}

.bgm-pink {
    background-color: #e91e63 !important;
}

.c-pink {
    color: #e91e63 !important;
}

.bgm-red {
    background-color: #f44336 !important;
}

.c-red {
    color: #f44336 !important;
}

.bgm-blue {
    background-color: #2196f3 !important;
}

.c-blue {
    color: #2196f3 !important;
}

.bgm-purple {
    background-color: #9c27b0 !important;
}

.c-purple {
    color: #9c27b0 !important;
}

.bgm-deeppurple {
    background-color: #673ab7 !important;
}

.c-deeppurple {
    color: #673ab7 !important;
}

.bgm-lightblue {
    background-color: #03a9f4 !important;
}

.c-lightblue {
    color: #03a9f4 !important;
}

.bgm-cyan {
    background-color: #00bcd4 !important;
}

.c-cyan {
    color: #00bcd4 !important;
}

.bgm-teal {
    background-color: #009688 !important;
}

.c-teal {
    color: #009688 !important;
}

.bgm-green {
    background-color: #4caf50 !important;
}

.c-green {
    color: #4caf50 !important;
}

.bgm-lightgreen {
    background-color: #8bc34a !important;
}

.c-lightgreen {
    color: #8bc34a !important;
}

.bgm-lime {
    background-color: #cddc39 !important;
}

.c-lime {
    color: #cddc39 !important;
}

.bgm-yellow {
    background-color: #ffeb3b !important;
}

.c-yellow {
    color: #ffeb3b !important;
}

.bgm-amber {
    background-color: #ffc107 !important;
}

.c-amber {
    color: #ffc107 !important;
}

.bgm-orange {
    background-color: #ff9800 !important;
}

.c-orange {
    color: #ff9800 !important;
}

.bgm-deeporange {
    background-color: #ff5722 !important;
}

.c-deeporange {
    color: #ff5722 !important;
}

.bgm-gray {
    background-color: #9e9e9e !important;
}

.c-gray {
    color: #9e9e9e !important;
}

.bgm-bluegray {
    background-color: #607d8b !important;
}

.c-bluegray {
    color: #607d8b !important;
}

.bgm-indigo {
    background-color: #3f51b5 !important;
}

.c-indigo {
    color: #3f51b5 !important;
}

.bg-black-trp {
    background-color: rgba(0, 0, 0, .1) !important;
}

.b-0 {
    border: 0 !important;
}

.w-100 {
    width: 100% !important;
}

/*----------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------*/













