#whiteboard_nav, #whiteboard_nav a, #whiteboard_nav span:not(.ng-scope), #whiteboard_nav span:not(.ng-binding) { 
 	color: #FFF !important;
 	background: #4390df; 
}

div.navbar a {
	display: inline-block;
	background: #4390df;
}		

.navbar li.divider-vertical {
	height: 30px;
	margin: 12px 5px;
	border-left: 1px solid #f2f2f2 !important;
	border-right: 1px solid #ffffff !important;
	opacity: 0.5;
}

.using_information {
    position: absolute;
    margin-top: -40px;
    right: 35px;
    padding-top: 4px;
    min-width: 182px;
}

.crop_nav {
	margin-top: 5px;
}

.crop_nav img {
	width: 45px;
    height: 42px;
    margin-left: 10px;
    margin-top: -2px;
    border-radius: 50% !important;
}

.crop_nav, .using_desc { 
	display: inline;
	float: left;
	cursor: pointer;
	margin-top: 7px;
}

.crop_nav { 
	margin-top: 7px;
	padding: 0 3px;
} 

.using_desc > span {
	color: #777777;
	font-size: 1em;
	vertical-align: middle;
	font-weight: normal;
	min-width: 182px;
}

span.fa { font-family: FontAwesome !important; }

table#grid_whiteboard th, table#grid_whiteboard td {
    font-size: 0.8em !important;
}

table#grid_whiteboard.table-bordered > thead > tr > td, 
table#grid_whiteboard.table-bordered > thead >tr > th  {
    border-bottom-width: 0px;
}

#definded_status div { display: inline; }

.number_length {
	position: absolute; 
	float: left; 
	margin-top: 40px; 
	font-size: 0.8em;
}


.blackboard {
	width: 100%; 
	height: 1400px; 
	position: absolute; 
	background: #000; 
	opacity: 0.2; 
	margin-top: -100px;
	z-index: 2147483647;
}

.sidenav {
    width: 0px;
    position: absolute;
    background: #4a4c4e;
    height: 1050px;
    min-height: 700px;
    padding-top: 0px;
    margin-top: -12px;
    z-index: 1;
    transition: .8s;
}

.sidenav > .content {
    padding: 10px 5px 5px 5px;
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF;
    min-height: 35px;
}

.sidenav > .content.open { 
	left: 0px; 
	opacity: 1;  
    -webkit-transition : all 1.5s ease-in;
    -moz-transition : all 1.5s ease-in;
    -o-transition : all 1.5s ease-in;
    transition : all 1.5s ease-in
}

.sidenav > .content.close { 
	left: -400px; 
	 opacity: 0; 
	 /*
	-webkit-transition : all .2s ease-out;
    -moz-transition : all .2s ease-out;
    -o-transition : all .2s ease-out;
    transition : all .2s ease-out;
    */
}

.sidenav > .content > .label {
	width: 150px;
	float: left;
	padding: 5px;
	color: #FFF;
	background: transparent;
	min-height: 30px;
}

.sidenav > .content > .field {
	float: left;
	width: 215px;
	padding: 5px;
	line-height: 90%;
	margin-left: 5px;
	min-height: 30px;
}

.sidenav > .content > .field > .input-control.text {
	background-color: transparent !important;
}

.sidenav > .content > .label.header,
.sidenav > .content > .field.header { 
	background: #FFFFFF;
	font-size: 14px !important;
} 

.sidenav .closebtn {
    position: absolute;
    top: -11px;
    right: 5px;
    color: #FFFFFF;
    font-size: 36px;
}

#sidebar_handle {
	cursor: pointer;
}
#sidebar_icon {
	height: 40px;
	padding: 5px;
	z-index: 999; 
	transform: rotate(0deg); 
	transform-origin: 50% 50% 0px;
	background: #4a4c4e;
	
	margin-top: -12px;
}

#sidebar_icon.openside { 
	transform: rotate(180deg); 
	margin-left: -40px;
    transition: margin-left .8s;
}

#sidebar_icon.closeside { 
	transform: rotate(0deg); 
	margin-left: 0px;
    transition: margin-left .8s;
}

.field_limitText { 
	min-height: 30px;
	max-height: 30px;
	min-width: 215px;
	font-size: 12px !important;
}

.OptionTool {
    float: right;
    height: 42px;
    line-height: 2.1;
   
}

.OptionTool button {
	background-color: #FFF;
	border: 1px solid #D1D1D1;
	border-radius: 5px;
	cursor: pointer;
}
.OptionTool button > i  { 
    color: #555;	
    padding: 7px 0px;
    font-size: 1.4em;
}

.OptionTool button:hover { background-color: #f5f2d4; }


/** GENERALE SYLE **/
th[class*="sort"]:after { content: "" !important; }

.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.text-left { text-align: left !important; }
.text-uppercase { text-transform: uppercase;  }
.iconCursor { cursor: pointer; }
.reactive { background-color: #DFF0D8 !important; }
.retrieve { background-color: #f9e5e5 !important; }

abbr[title] {
	border-bottom: 0px !important;
	text-decoration: none !important;
}


@media print {
	.dataTables_length, .dataTables_paginate  { display: none !important; }
	.printonly { display: block; }
	.nonprint { display: none !important; }
}